asgiref==3.2.7
cffi==1.14.1
cryptography==3.0
Django==3.0.8
django-cors-headers==3.4.0
django-extensions==2.2.9
django-webpack-loader==0.7.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
ecdsa==0.15
mysqlclient==1.4.6
pyasn1==0.4.8
pycparser==2.20
pydot==1.4.1
PyJWT==1.7.1
pyparsing==2.4.7
python-jose==3.1.0
pytz==2020.1
rsa==4.6
six==1.14.0
sqlparse==0.3.1
